@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo {
  display: flex;
  margin: 0px 20px;
  align-items: center;
}
.logo span {
  color: orangered;
}

nav {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 1rem 1.5rem;

  box-shadow: 2px 3px 2px #f1f1f1;
  /* sticky navbar */
  position: sticky;
  opacity: 0.98;
  top: 0;
  left: 0;
  z-index: 1000;
}
/* nav {
  margin-left: 2rem;
} */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 30px;
  list-style-type: none;
}
nav ul li {
  padding: 0 20px;
}
nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover,
nav ul li a:active {
  color: orangered;
}
nav ul li:last-child {
  margin: 0 10px;
}

nav ul li.join {
  padding: 10px;
  border-radius: 20px;
  background: orangered;
}
nav ul li.join a {
  color: #fff;
}

.hamburger {
  display: none;
}
.bar {
  background-color: #020202;
  display: block;
  width: 30px;
  height: 4px;
  margin: 6px auto;
}

/* dark and light mode */
.checkbox {
  opacity: 0;
  position: absolute;
}
.label {
  padding: 5px;
  width: 59px;
  height: 29px;
  background-color: #111;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sun {
  font-size: 1.4rem;
  color: #ffa502;
}
.moon {
  font-size: 1.4rem;
  color: rgb(108, 108, 233);
}
.switcher {
  position: absolute;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkbox:checked + .label .switcher {
  transform: translateX(25px);
}

body.dark {
  background: #1e272e;
  color: white;
}
body.dark nav .logo h1 {
  color: white;
}
body.dark nav .nav-ul li a {
  color: white;
}

body.dark footer .footerlinks ul li a .icon {
  color: white;
}
body.dark footer .otherlinks ul li a {
  color: white;
}

body.dark nav {
  background-color: #1e272e;
  color: #fff;
}
body.dark nav {
  box-shadow: 2px 3px 2px black;
}

/* section hero */
.hero {
  padding: 20px 10px;
}
.container {
  width: 90vw;
  margin: 3rem 5rem;
  /* padding: 3rem 1rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

.heading {
  margin: 4rem 0rem;
}
.heading h1 {
  font-size: 4rem;
  padding: 20px 0;
}
.heading p {
  padding-bottom: 30px;
  color: rgb(133, 132, 132);
  line-height: 20px;
  letter-spacing: 2px;
}
.yt-video {
  margin: 3rem 0rem;
}
.btn {
  padding: 20px 0;
}
.btn a:link,
.btn a:visited {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  font-size: 1.5rem;
}

.course,
.join,
.testimonials,
.mentor {
  margin-top: 5rem;
  padding-top: 5rem;
}
/* section course */
.course {
  margin-top: 1rem;
  padding: 30px 20px;
}
.sub-container {
  width: 90vw;
  margin: 2rem 5rem;
}
.head {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-heading {
  font-size: 2.3rem;
  display: block;
  border-bottom: 5px solid orangered;
}
.features {
  padding-top: 4rem;
}
.feature-list {
  padding: 1rem 20px;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 80px;
  list-style-type: none;
}
.feature-link .icon {
  width: 40px;
  height: 40px;
  color: orangered;
  padding: 10px 0;
}
.feature-link h3 {
  font-size: 1.8rem;
  padding: 10px 0;
}
.feature-link p {
  font-size: 1.2rem;
  line-height: 28px;
  text-indent: initial;
  color: gray;
  padding: 10px 0;
}
.feature-link p span {
  font-weight: bolder;
}

/* section mentor */

.mentor-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  /* text-align: center; */
}
.mentor-img {
  padding: 3rem 10px;
  height: 250px;
}
.mentor-desc {
  padding: 4rem 10px;
  align-items: left;
}
.mentor-desc h2 {
  font-size: 3rem;
  color: orangered;
}
.mentor-desc h4 {
  font-size: 1rem;
  color: grey;
  font-weight: bolder;
  padding-left: 10px;
  padding-bottom: 30px;
}
.mentor-desc p {
  font-size: 1.4rem;
  color: rgb(173, 173, 173);
  line-height: 38px;
  padding-bottom: 20px;
  text-indent: initial;
}
.sociallinks ul {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  gap: 10px;
  list-style-type: none;
}
.sociallinks ul li .icon {
  width: 28px;
  height: 28px;
  color: orangered;
  transition: all 0.3s ease-in;
}
.sociallinks .icon:hover {
  transform: translateY(-1rem);
}

/* section testimonial */
.testimonial {
  /* display: none; */
  margin: 8rem auto;
  padding: 2rem;
  position: relative;
  background-color: rgb(243, 102, 51);
  color: #fff;
  width: 850px;
  height: 250px;
  border-radius: 10px;
}
.testimonial-img img {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: o;
  margin: 0;
  background-position: center;
  background-size: cover;
  /* border: 5px solid green; */
  top: -25%;
  left: 40%;
}
.testimonial-info {
  padding: 40px;
}
.testimonial-info blockquote {
  padding: 20px 0px;
  font-weight: 1.8rem;
  line-height: 28px;
}
.testimonial-info h3 {
  padding: 10px 30px;
  font-style: italic;
  font-weight: lighter;
  text-align: right;
}

.slideshow-container {
  position: relative;
}

/* footer section */

.join {
  /* border-top: 1px solid rgb(202, 202, 202); */
}
.join h3 {
  font-size: 2.8rem;
  padding: 40px 30px;
}
.pre-container {
  padding: 40px 0px;
  /* width: 70vw;
  margin: 2rem 9rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.discord {
  display: flex;
  padding: 20px;
  background-color: orangered;
  color: #fff;

  border-radius: 10px;
  outline: none;
  border: none;
}
.discord p {
  color: #fff;
  font-size: 1.5rem;
}
.footerlinks ul li .icon {
  width: 33px;
  height: 33px;
  color: black;
  transition: all 0.3s ease-in;
}
.footerlinks .icon:hover {
  transform: translateY(-1rem);
}
.footerlinks ul {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 16px;
  list-style-type: none;
}
.otherlinks ul {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  gap: 20px;
  list-style-type: none;
}

.otherlinks ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
}
.otherlinks a:hover {
  color: orangered;
}
.footersection {
  background-color: orangered;
  color: white;
  padding: 30px 20px;
  margin: auto;
  width: 90vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    margin: 0px 10px;
    align-items: center;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  body.dark .hamburger {
    color: white;
  }
  nav {
    /* background-color: yellow; */
    width: 101.6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 1rem 1.5rem;
  }

  nav ul {
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 100%;
    top: 4.6rem;
    width: 100%;
    text-align: center;
  }
  body.dark nav ul {
    background-color: black;
  }

  body.dark nav .nav-ul li a {
    color: white;
  }
  body.dark nav .nav-ul li a:hover {
    color: orangered;
  }
  body.dark nav .nav-ul li:last-child a:hover {
    color: orangered;
    background-color: white;
    border: 2px solid orangered;
  }
  ul.active {
    left: 0;
  }

  li {
    margin: 2rem 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }

  .container {
    /* padding: 3rem 1rem; */
    margin: 2rem 5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  .feature-list {
    padding: 1rem 10px;
    display: grid;
    grid-template-columns: repeat(2, 8fr);
    gap: 50px;
    list-style-type: none;
  }
  .sub-container {
    width: 80vw;
    margin: 2rem 3.2rem;
  }
  .yt-video {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .yt-video iframe {
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hero {
    padding: 20px 0px;
  }
  .mentor-info {
    margin: 2rem 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    /* text-align: center; */
  }
  .mentor-img {
    padding: 3rem 0px;
    width: auto;
    height: 250px;
  }
  .mentor-desc {
    padding: 17rem 0px;
    /* align-items: left; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .testimonial {
    margin: 8rem auto;
    padding: 2rem;

    color: #fff;
    width: 410px;
    height: 450px;
  }
  .testimonial-img img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    background-position: center;
    background-size: cover;
    /* border: 5px solid green; */
    top: -50px;
    left: 40%;
  }
  .testimonial-info {
    padding: 20px;
  }
  .testimonial-info blockquote {
    padding: 20px 0px;
    font-weight: 1rem;
    line-height: 28px;
  }
  .testimonial-info h3 {
    padding: 10px 20px;
    font-style: italic;
    font-weight: lighter;
    text-align: right;
  }

  .join h3 {
    font-size: 1.9rem;
    padding: 40px 40px;
  }

  .discord p {
    color: #fff;
    font-size: 1.3rem;
  }

  .otherlinks ul {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 14px;
    list-style-type: none;
  }

  .otherlinks ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: black;
  }
  .otherlinks a:hover {
    color: orangered;
  }
  .footersection {
    background-color: orangered;
    color: white;
    padding: 20px 10px;
    margin: auto;
    width: 90vw;
    text-align: center;
  }
}
